.idea
*.iml
platform-common/target
platform-dal/target
platform-gen/target
platform-service/target
platform-web/target
/target/
platform-common/.settings
platform-dal/.settings
platform-gen/.settings
platform-service/.settings
platform-web/.settings


.settings
.txt
*.class
*.project
*.prefs
*.classpath
*.factorypath
*.log