.idea
*.iml


platform-common/.settings
platform-dal/.settings
platform-gen/.settings
platform-service/.settings
platform-web/.settings


.settings
.txt
*.class
*.project
*.prefs
*.classpath
*.factorypath
*.log
